* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body{
  background: #eee;
}

.pnote{
  background-color: #fafafa;
  padding: 20px;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 17px;
  height: auto;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0px 5px 4px 0px rgb(18 17 17 / 20%);
  white-space: pre-wrap;
  word-wrap: break-word;
}

header {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  background-color: #1abe04;
}

header h1 {
  color: white;
  padding: 20px 20px 20px 50px;
  font-size: 40px;
}


.divNote {
  width: 758px;
  height: 672px;
  padding: 30px 30px 30px 10px;
}

.inputArea{
  padding: 30px 30px 30px 450px;
  
}


.inputArea form input, textarea{
  width: 450px;
  padding: 12px 20px;
  margin: 8px 0;
  border:none;
  font-size: 20px;
  outline: none;
  font-family: inherit;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  display: block;
}



.inputArea button{
  background-color: #1abe04;
  border: none;
  color: white;
  padding: 10px 10px;
  font-size: 15px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  display: block;
}

.delete button {
  margin-right: 10px;
  color: #1abe04;
  border: none;
  padding: 10px;
  font-weight: 20px;
  cursor: pointer;
  outline: none;
}

.footer {
  color: #ccc;
  bottom:0px;
  width: 100%;
  height:2.5rem;
  position: absolute;
  text-align:center;
} 
